.app {
    width: 107.6rem;
    height: 44.0rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4.8rem 0;
}

.apps {
    width: 61.6rem;
    height: 25.9rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.apps h2 {
    width: 28.5rem;
    height: 4.2rem;

    /* Font */;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 130%;
}

.apps p {
    width: 526px;
    height: 81px;
    
    /* Font */
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    opacity: 0.7;
}

.btns {
    width: 42.6rem;
    height: 6.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app-store {
    width: 201px;
    height: 64px;
}

#google-play {
    width: 201px;
    height: 64px;
}

.ilustration {
    width: 46.0rem;
    height: 44.0rem;
}
