.logos {
    width: 100%;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 4.8rem 0 4.8rem 0;

}

.logos a {
    width: 8.6rem;
    height: 4.8rem;

    opacity: 0.4;
}

.logos a:hover {
    opacity: 2.0;
}
