* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;

    color: var(--white-color);
    font-family: var(--font);
    font-style: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {    
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

    background-image: url('../img/header/shape.png');
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}