/* Top-offers */

.top-offers {
    width: 100%;
    height: 57.0rem;

    margin: 4.8rem 0;
}

.top-offers-top {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3.2rem;
}

/* Ofertas */
.top-offers-top h2 {
    width: 10.6rem;
    height: 3.6px;

    font-weight: 700;
    font-size: 2.8rem;
    line-height: 130%;

    display: flex;
    align-items: center;
}

/* Ofertas */
.top-section h2 {
    width: 10.6rem;
    height: 3.6rem;

    font-weight: 700;
    font-size: 2.8rem;
    line-height: 130%;

    display: flex;
    align-items: center;
}

.top-offers-top .view-all {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 13.3rem;
    height: 2.4rem;

    opacity: 0.7;
}

/* top-offers-down */
.top-offers-down {
    display: flex;
    justify-content: space-between;
}

/* car-card/vertical */
.top-offers .card-vertical-left {
    width: 63.6rem;
    height: 50.2rem;

    border-radius: 1.2rem;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 2px 8px -4px rgba(31, 27, 45, 0.12), 0px 4px 16px rgba(31, 27, 45, 0.12);
}

.top-offers .card-vertical-left img {
    border-radius: 1.2rem 1.2rem 0 0;
}

/* cards-left*/
.top-offers .cards-right {
    width: 63.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 1.2rem;
}

/* card-horizontal-up */
.card-horizontal-up {
    width: 63.6rem;
    height: 23.9rem;

    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.04);

    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}

/* card-horizontal-down */
.card-horizontal-down {
    width: 636px;
    height: 239px;

    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 0.04);

    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}

.card-horizontal-hover:hover {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

